.about{
          font-style: oblique;
          color: whitesmoke;
          background-image: url(360_F_789760492_ZAqATbAb5ai3aEFkkE3w6uGxumxytAsv.jpg);
          text-align: center;
          padding-top: 10%;
          font-size: x-large;
      }